*{
    margin: 0;
    padding: 0;

}
body{
    background: #000
    font-size 14px;
    font-family: 'Poppins', sans-serif
}
.container{
    width: 80%;
    margin: 50px auto;
} 
.contact-box{
    background: #000
    display flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #000
    color #000
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;

}
    


.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #000
}
button{
    background: #fff
    width 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
    color: #000
    font-weight 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td:first-child{
    padding-top: 20px;
}
html{
    font-family:'SF Pro Display',sans-serif;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .container{
    max-width: 1500px;
    margin:0 auto;
    padding: 0 35px;
  }
.hero{
  height: 950px;
  background-size: auto 800px;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-top: 10px solid;

}

.title{
  color: #ffffff;
  text-align: center;

}
.category-titlephone{
  font-size: 60px;
  line-height: 1.07143;
  font-weight: 700;
  letter-spacing: -1px;
}
.category-description{
font-size: 40px;
margin-top: 10px;
letter-spacing: 1px;
font-weight: 400;

}
.title-price{
  font-size: 25px;
  color: #ffffff;
  margin-top: 10px;
}

  

.explore-more{
  text-align: center;
  margin-top: 20px;
  color: #66bbff;
  font-size: 35px;
  display: inline-block;
}

.title-watch{
  text-align: center;
  color: #333;
}
.title-heads{
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}
.category-titlehead{
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
.title-price2{font-size: 25px;
  color: #2b2626;
  margin-top: 10px;

}